*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
}

.nav-top{
    width: 100%;
    height: 130px;
    /* overflow: hidden; */
    /* flex-wrap: nowrap;  */
    display: flex;
    flex-direction: row;
    justify-content:center;
    justify-content: space-between;
    align-items: center;
    padding-right: 350px;
    padding-left: 350px;
    box-shadow: 0px 5px 5px rgb(214, 214, 214)
}


.search-icon{
    font-size: 15px;
    color: gray;

}
.search-place{
    border: none;
    outline: none;

}

.name {
    width: 120px;
    height: 32px;
    border: 2px solid black;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-right: 200px;
    
}

.nav-top-right{
    width: 80px;
    color: gray;
    display: flex;
    justify-content: space-between;
    
}

.nav-top-right :hover{
    transition: all 0.5s;
    color: black;
    cursor: pointer;
}

.cart{
    position: relative;
}
.notifi{
    position: absolute;
    margin-left: 75px;
    margin-top: -15px;
    width: 20px;
    height: 20px;
    background-color: #7971ea;
    color: white;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    font-size: small;
}

nav{
    width: 600px;
    height: 40px;
    margin-left: 680px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size:small;
    font-weight: 400;

}

nav a {
    text-decoration: none;
}

nav div :hover{
    color:#892edf ;
    transition: .3s all ease;
}

.home{
    /* background-color: #04AA6D; */
    /* color: white; */
    padding: 16px;
    border: none;
    
}

/* ************************sec1******************************** */
.sec1 {
    display: flex;
    flex-direction: row;
}

.shoes{
    position: relative;
}

.shoes-text{
    width: 350px;
    position: absolute;
    left: 1100px;
    top: 450px;
    display: flex;
    flex-direction: column;
    justify-content:center ;    
}

.shoes-text1{
    font-family: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", 
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"  ;
    font-size: 45px;
    font-weight: 700;
    
}

.shoes-text2{
    font-family:"Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", 
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"  ;
font-size: 20px;
font-weight: 100;
margin-top: 18px;
line-height: 35px;
width: 450px;
height: 120px;
}

.shop-now {
    width: 120px;
    height: 40px;
    margin-top: 15px;
    background-color: #7971ea;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: small;
    word-spacing: 3px;
    letter-spacing: 2px;

}

.shop-now-link {
    text-decoration: none;
    color: white;

} 


.shop-now-link :hover{
    box-shadow: 1px 1px 10px 2px rgb(56, 56, 56);
    cursor: pointer;
    background-color: #6c28da;
    transition: all .3s;
    translate: 0px  -4px ;

}

/* **********************sec2************************************** */

.car-icon{
    transform: scaleX(-1);
}

.reload-icon,
.support-icon,
.car-icon {
    color: #7971ea;
    margin-left: -50px;
    font-size: 35px;
    position: relative;
    margin-top: -10px;
}

.sec2 {
    width: 1200px;
    height: 200px;
    margin-left: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.car,
.reload,
.support {
    width: 320px;
}


.sec2 h2{ 
    position: absolute;
    display:inline-block;
    margin-left: 15px;
    font-size: large;
    font-weight: 500;
}
.sec2 p {
    font-weight: 300;
}

/* *************************** sec3**************************************** */

hr {
    opacity: 25%;
}



.sec3 { 
    width: 1200px;
    height: 460px;
    margin-bottom: 100px;
    margin-left: 340px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}




.women,
.children,
.men {
    height: 100%;
    width: 30% ;
    filter: brightness(60%);
    position: relative;
    overflow: hidden;
}

.women :hover{
    scale: 110%;
    transition: all .3s;
} 

.children :hover{
    scale: 110%;
    transition: all .3s;
}

.men :hover {
    scale: 110%;
    transition: all .3s;

}


.women-text {
    position: absolute;
    color: white;
    top: 177%;
    left: 19%;
    font-size: larger;


}

.children-text {
    position: absolute;
    color: white;
    top: 177%;
    left: 42%;
    font-size: larger;


}

.men-text {
    position: absolute;
    color: white;
    top: 177%;
    left: 64.5%;
    font-size: large;


}

.sec3 h2 {
    font-size: 40px;
}

/* ***********************sec4*********************************************** */


.sec4 {
    background-color:#e9ebee ;
    border: 2px solid black;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;

    
}

.line {
    font-size: 30px;
    color: #6c28da;
    margin-bottom: 20px;
    margin-top: 20px;
}

.text2 {
    font-weight: 400;
    font-size: 25px;
}

.products {
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: row;
    border: 5px solid red;
    
}
















